:root {
    --brand-600: #16a34a;
    --brand-700: #15803d;
    --slate-900: #0f172a;
    --slate-600: #475569;
    --slate-100: #f1f5f9;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--slate-900);
    line-height: 1.5;
    max-width: 100%;
}
.detailcontent{
    margin: 80px auto;
    /* padding: 24px 40px; */
    gap: 20px;
    max-width: 1440px;
    /* border: 1px solid #0f172a; */

}

.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* padding: 80px 100px; */
    padding: 50px;
    border: 1px solid #0f172a;
    background: #f8fafc;
    height: fit-content;
    border-radius: 10px;
}
.content .title {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background: #f8fafc;
    border: #475569;
    border: 1px solid var(--border);
    border-bottom: 5px solid var(--brand-600);
    border-radius: 12px;
    padding: 20px;
    display: grid;
    grid-template-columns: 64px 1fr auto;
    gap: 20px;
    align-items: center;

}

.internlist {
    display: contents;
}
.internlist img{
    width: 64px;
    height: 64px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f5f9;
    padding: 8px;
}
/* .data{
    display: flex;
    flex-direction: column;
    padding: 5px;
} */
.data h3{
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 17px;
}


.data p {
    color: var(--slate-600);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
}

.type ul{
    list-style: none;
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
}

.type ul li{
    padding: 2px 20px;
    background: var(--slate-100);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: var(--slate-600);
}

.post{
    text-align: right;
    margin: 2px 0px;
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 0;
    align-items: flex-end;

}

.post p{
    font-size: 10px;
    color: var(--slate-600);
    font-weight: 600;
    margin: 0;
}



.detail{
    background: #f8fafc;
    border-bottom: 5px solid var(--brand-600);
    /* border-radius: 12px; */
    padding: 20px 50px;
    
}

.detail h2{
    font-size: 18px;
    margin-bottom: 4px;
}
.action{
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.action button{
    padding: 15px 32px;
    font-weight: 600;
    background-color: var(--brand-700);
    color: #f1f5f9;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.action a{
    text-decoration: none;
    background: var(--brand-700);
    color: white;
}